*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: #a6d5cf;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center 
}


.logo_container {
  margin: auto;
  width: 100%;
  max-width: 320px;
}

.logo{
  padding: 20px 20px;
  width: 100%;
  max-width: 245px;
}

.bem_vindo {
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 25px;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.faca_ja_seu_agendamento {
  font-size: 25px;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: center;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.container_form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  text-align: center;
  margin: auto; 
  width: 90vw; 
  max-width: 900px;
  padding: 0 20px 50px 20px; 
}

.input_container{
  width: 100%;
  max-width: 338px;
  height: 111px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  margin: 30px 10px auto 10px;
}

.texto_input_padrao{
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 20px;
  color: #FFFFFF;
  text-align: left;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.input_padrao{
    height: 70px;
    border-radius: 20px;
    border: 3px#FFFFFF solid;
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: left;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.input_padrao:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  }

.input_padrao::placeholder{
  font-size: 20px;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: left;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.box_botao{
  width: 100%;
  max-width: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  margin: 75px 0 auto 0;
}

.botao_agendar{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #FFFFFF;
  width: 100%;
  height: 64px;
}

.texto_agendar{
  font-size: 30px;
  font-weight: bold;
  color: #04b39b;
  text-align: center;
  background-color: #FFFFFF;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.alert{
  position: fixed;
  background-color: #a6d5cf;
  box-shadow: rgba(255, 255, 255, 0.669) 0px 54px 55px, rgba(255, 255, 255, 0.669) 0px -12px 30px, rgba(255, 255, 255, 0.669) 0px 4px 6px, rgba(255, 255, 255, 0.669) 0px 12px 13px, rgba(255, 255, 255, 0.669) 0px -3px 5px;
  border-radius: 30px 30px;
  width: 90%;
  height: 50%;
  bottom: 25vh;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility:hidden;
}

.textoAlert{
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  color: #FFFFFF;
}

.textoAlertHelp{
  font-size: 12px;
}

@media (max-width: 839px) {
  .textoAlert{
    font-size: 20px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .input_container{
    margin: 40px auto 0 auto;
  }
  .container_form{
    width: 95%;
    margin: auto;
  }  
}